body {
  font-family: Arial, sans-serif;
  margin: 30px;
  padding: 100px;
  background-color: #bbb4b4;
  color: #333;
}

header {
  text-align: center;
  margin-bottom: 20px;
}

h1 {
  color: #0066cc;
}

button {
  padding: 10px;
  margin-top: 10px;
  cursor: pointer;
}

button:hover {
  background-color: #ddd;
}

.dark-mode {
  background-color: #151313;
  color: #f4f4f4;
}

.slideshow img {
  border: 2px solid #0066cc;
  border-radius: 8px;
  margin-top: 10px;
}

#formMessage {
  font-weight: bold;
  margin-top: 10px;
}
#footer{
    position: relative;
    top: 100px;
    left:150px;
}
